name: Build test

on:
  workflow_dispatch:
  watch:
   types: [started]

defaults:
  run:
   shell: bash

jobs:
 buildtest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 5

      - name: setup package
        run: |
         sudo apt-get update -y && sudo apt-get install dialog bash sed wget git curl zip tar jq expect make cmake automake autoconf llvm lld lldb clang gcc binutils bison perl gperf gawk flex bc python3 zstd openssl unzip cpio bc bison build-essential ccache liblz4-tool libsdl1.2-dev libstdc++6 libxml2 libxml2-utils lzop pngcrush schedtool squashfs-tools xsltproc zlib1g-dev libncurses5-dev bzip2 git gcc g++ libssl-dev gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf gcc-arm-linux-gnueabi dos2unix kmod -y
      - name: setup KernelSU-Next
        run: |
         curl -LSs "https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh" | bash -s v1.0.8
      - name: patching
        run: |
         clang -v
         cd KernelSU-Next
         wget https://github.com/Frostleaft07/android_kernel_realme_mt6765/releases/download/susfs/0001-KernelSU-Next-Import-SUSFS-v1.5.5-K-4.9-v1.0.8.patch
         patch -p1 < 0001-KernelSU-Next-Import-SUSFS-v1.5.5-K-4.9-v1.0.8.patch
         
      - name: start up
        run: |
         bash buildv2.sh
